@model IEnumerable<CompStore.Presence>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Магазин
        </th>
        <th>
            Товар
        </th>
        <th>
           Наличие
        </th>
        <th>
            Постановка на учет
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_shop)
        </td>
        <td>
            @item.Product.Id
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accounting_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
